
<script language="javascript">
	function exportDataStatusResultToWorkBook()
	{
	    document.getElementById('htmlCode').value = document.getElementById('formResult').innerHTML;
	    return true;
	}	
</script>


<form id="form1" name="form1" action="exportDataStatusToExcel.action" method="post" onsubmit="return exportDataStatusResultToWorkBook()" target="_newtab">
    <input type="hidden" name="htmlCode" id="htmlCode" />
	
	<div align="right" class="NormalB">
		<input type="submit" name="ExportToWorkBook" value="Export To WorkBook" style="width: 160; height: 25; font-family:Arial; font-weight:bold; color:#000000">
	</div>	
	<br/>
<div id="formResult">	
	<div id="headingInfoId">
		<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-style: dotted" bordercolor="#111111" width="100%">   
			<tr bgcolor="#CBDDEB">
				<td class="TableHeadingCellStyles" align="center" rowspan="2" style="border-style: dotted; border-width: 1" >$i18n.getString( "sl_no" )</td>
				<td class="TableHeadingCellStyles" align="center" rowspan="2" style="border-style: dotted; border-width: 1">$i18n.getString( "org_unit_hiery" )</td>
				<td class="TableHeadingCellStyles"  align="center" rowspan="2" style="border-style: dotted; border-width: 1">$i18n.getString( "org_unit_name" )</td>
				#foreach( $dataElement in $dataElementList )
					<td class="TableHeadingCellStyles" colspan="$optionNameList.size()" align="center" style="border-style: dotted; border-width: 1">$dataElement.name</td>
				#end
			</tr>
			<tr bgcolor="#CBDDEB">
				#foreach( $dataElement in $dataElementList )
					#foreach( $option in $optionNameList )
						<td class="TableHeadingCellStyles" align="center" style="border-style: dotted; border-width: 1">$option</td>	
					#end
				#end
			</tr>	
		<!--</table>-->
	</div>
	
	<!--<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-style: dotted" bordercolor="#111111" width="100%">-->
		#set($count1 = 1)
		#foreach( $orgUnit in $orgUnitList )
		 	<tr>
		 		<td align="center" >$count1</td>
				#if( $orgunitHierarchyMap.size()!=0 )
					<td style="border-style: dotted; border-width: 1">$!orgunitHierarchyMap.get( $orgUnit.id )</td>
				#end
				<td style="border-style: dotted; border-width: 1">$orgUnit.name</td>
				#set( $deResultList = $ouMapDataElementValue.get( $orgUnit ) )
				##foreach( $dataElement in $dataElementList )
					##foreach( $option in $optionNameList )
						#foreach( $result in $deResultList )
					 		#if( $result == 0 )
					 			<td  align="center" bgcolor="white">$result</td>
					 		 #elseif( $result == 1 )
					  			<td align="center" bgcolor="green"><font color="#000000">$result</font></td>	
 							#end
						#end							
					##end
				##end
				
			</tr>
	 	#set( $count1 = $count1 + 1 )
	 	#end
	</table>
</div>
</form>